

#footer {
    background: #17181C;
    color: #DC4280;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.up{
    color: #dc4280; 
  font-size: 40px;
}
  
.left-side {
    color: #DC4280;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
}

.right-side {
    display: flex;
    gap: 20px;
    align-items: center; 
}

.icon {
    fill: #DC4280;
    width: 33px;
    height: 28px;
}

@media only screen and (max-width: 100){
    .icon{
         width: 20px;
         height: 20px;
    }
    .left-side{
         font-size: 12px;
    }

  }
  @media only screen and (max-width: 768px){
    .icon{
         width: 20px;
         height: 20px;
    }
    .left-side{
         font-size: 12px;
    }
    .up{
        margin-left: 60px;
    }

  }

#scrollToTop {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
