/* styles.css */


.projects-card {
  list-style-type: none;
  border: 3px solid #545583;
  width: 410px;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #24253A;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .folder-icon {
      margin-right: 10px;
    }

    .external-links {
      a {
        margin-right: 10px;
        text-decoration: none;
        color: #007bff;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color:#FFF
  }

  .card-desc {
    margin-bottom: 15px;
    color: #FFF;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px; /* 105.556% */

  }

  .card-tech {
    font-style: italic;
    color: #DC4280;
  }
}
