html {

}

body {
  position: relative;
  background-color: #17181C;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main-content {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  width: 100%;
  max-width: 100vw; /* Ensure the content does not exceed the viewport width */
  overflow-x: hidden; /* Hide horizontal overflow */
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .main-content {
    padding: 10px; /* Adjust as needed for smaller screens */
  }
}
